.start {
  width: 10%;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: white;
  background-color: aqua;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}