.input{
  display: flex;
  justify-content: center;
}

.input-button{
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-top: 0em;
  padding-bottom: 0em;
  border-style: solid;
  border-width: 3px;
  background-color: white;
  line-height:75%;
  cursor: pointer;
}

.selected-number{
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-top: 0em;
  padding-bottom: 0em;
  border-style: solid;
  border-width: 3px;
  background-color: yellow;
  line-height:75%;
  cursor: pointer;
}