.container {
  background: black;
  display: inline-block;
  border: 5px solid black;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(3, 60px);
  grid-gap: 5px;
}

.cell {
  /* center the cell content */
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: Arial;
  font-size: 2rem;
  font-weight: bold;
  background: white;
  cursor: pointer;
}

.selected-cell {
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: Arial;
  font-size: 2rem;
  font-weight: bold;
  background: red;
  cursor: pointer;
}
